@use "../utils/variables";
@use "../utils/mixins";

.about-me {
  margin-top: 3rem;
  padding-bottom: 13rem;
  @include mixins.blue-bg-styling;

  &__heading--sm {
    color: #fff;

    &:before {
      background-color: #fff;
    }
  }

  &__circles {
    &:before,
    &:after {
      @include mixins.bg-circles;
      top: 10%;
    }

    &:before {
      height: 524px;
      width: 524px;
      right: 15%;
      bottom: 20%;
    }

    &:after {
      height: 124px;
      width: 124px;
    }
  }

  &__purple-cube--left,
  &__purple-cube--right {
    position: relative;
    left: 20px;
    right: 14px;
    top: 100px;
    max-width: 70px;
  }

  &__orange-ball {
    max-width: 6%;
  }

  &__pink-cube,
  &__blue-cube {
    max-width: 15%;
  }
}
