@use "../utils/variables";
@use "../utils/mixins";

.contact {
  margin: 3rem 0;

  &__content-container {
    position: relative;
    @media (min-width: variables.$md-breakPt) {
      @include mixins.box-shadow;
      background-color: white;
      padding: 3rem;
      border-radius: 15px;
    }
  }

  &__bg {
    position: absolute;
    right: -15px;
    top: 9px;
    max-width: 70%;
    @media (min-width: variables.$md-breakPt) {
      max-width: 625px;
    }
  }

  &__heading--sm {
    margin-bottom: 0;
  }

  &__heading--lg {
    font-size: 2.5rem;
    max-width: 70%;
    @media (min-width: variables.$md-breakPt) {
      font-size: 3rem;
    }
  }

  &__form {
    color: #8c8ca0;
    width: 100%;
  }

  &__form-field {
    position: relative;
  }

  &__form-svg {
    fill: variables.$dark-blue;
    position: absolute;
    right: 15px;
    top: 17px;
  }

  &__btn {
    width: 100%;
  }
}

input,
textarea {
  border-radius: 10px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.801191);
  border: 2px solid rgba(244, 244, 244, 0.801191);
  padding: 1rem;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1.8px solid variables.$main-purple;
  transition: 0.5s;
}

input:focus + svg,
textarea:focus + svg {
  fill: variables.$main-purple;
}
