@use "../utils/variables";
@use "../utils/mixins";

.contact {
  margin: 4rem 0;
  position: relative;

  @media (min-width: variables.$md-breakPt) {
    &:before {
      content: "";
      position: absolute;
      height: 650px;
      right: 0;
      left: 0;
      bottom: -100px;
      background: variables.$dark-blue;
      clip-path: polygon(0 440px, 100% 0, 100% 100%, 0 100%);
    }
  }

  &__content-container {
    position: relative;
    @media (min-width: variables.$md-breakPt) {
      @include mixins.box-shadow;
      background-color: white;
      padding: 3rem;
      border-radius: 15px;
    }
  }

  &__bg {
    position: absolute;
    right: -15px;
    top: 9px;
    max-width: 70%;
    @media (min-width: variables.$md-breakPt) {
      max-width: 625px;
    }
    @media (min-width: variables.$lg-breakPt) {
      max-width: 700px;
    }
    @media (min-width: variables.$xl-breakPt) {
      max-width: 800px;
      right: 0;
    }
  }

  &__bg--lower {
    display: none;

    @media (min-width: variables.$xl-breakPt) {
      display: block;
      width: 30%;
      position: absolute;
      right: 0;
      bottom: -100px;
      max-width: 300px;
    }
  }

  &__heading--sm {
    margin-bottom: 0;
  }

  &__heading--lg {
    font-size: 2.5rem;
    max-width: 70%;
    @media (min-width: variables.$md-breakPt) {
      font-size: 3rem;
    }
    @media (min-width: variables.$lg-breakPt) {
      font-size: 3.5rem;
    }
  }

  &__form {
    color: #8c8ca0;
    width: 100%;
    max-width: 900px;
  }

  &__form-field {
    position: relative;
  }

  &__form-svg {
    fill: variables.$dark-blue;
    position: absolute;
    right: 15px;
    top: 17px;
  }

  &__btn {
    width: 100%;
  }
}

input,
textarea {
  border-radius: 10px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.801191);
  border: 2px solid rgba(244, 244, 244, 0.801191);
  padding: 1rem;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1.8px solid variables.$main-purple;
  transition: 0.5s;
}

input:focus + svg,
textarea:focus + svg {
  fill: variables.$main-purple;
}
