@use "../utils/variables";

.header {
  padding-bottom: 1rem;

  &__nav {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__social-link {
    display: none;
    color: variables.$med-gray;
    @media (min-width: variables.$md-breakPt) {
      display: block;
      margin-left: 2.1rem;
      font-size: 0.9rem;
    }
  }

  &__link--mobile {
    display: none;
  }

  &__burger-menu--main {
    display: none;
    cursor: pointer;
    @media (min-width: variables.$md-breakPt) {
      display: block;
      .burger__line {
        background-color: white;
      }
    }
  }

  &__burger-menu--mobile {
    display: block;
    @media (min-width: variables.$md-breakPt) {
      display: none;
    }
  }

  &__content {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    @media (min-width: variables.$xl-breakPt) {
      padding-right: 70px;
      padding-left: 70px;
    }
  }
}

.project__menu {
  @media (min-width: variables.$md-breakPt) {
    color: variables.$dark-blue;
  }
}
