@use "../utils/variables";

.hero {
  position: relative;

  &__bg--blue {
    @media (min-width: variables.$md-breakPt) {
      content: "";
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      z-index: -5;
      width: 300px;
      background: variables.$main-blue;
    }

    @media (min-width: variables.$lg-breakPt) {
      width: 450px;
    }

    @media (min-width: variables.$xl-breakPt) {
      width: 600px;
      top: -175px;
    }
  }

  &__bg--purple-triangle {
    @media (min-width: variables.$md-breakPt) {
      width: 0;
      height: 0;
      border-top: 200px solid transparent;
      border-right: 420px solid variables.$lt-purple;
      border-bottom: 0 solid transparent;
      content: "";
      position: absolute;
      right: 0;
      bottom: -2px;
    }

    @media (min-width: variables.$lg-breakPt) {
      border-top: 250px solid transparent;
      border-right: 600px solid variables.$lt-purple;
    }

    @media (min-width: variables.$xl-breakPt) {
      border-top: 300px solid transparent;
      border-right: 750px solid variables.$lt-purple;
    }

    &:before {
      @media (min-width: variables.$md-breakPt) {
        width: 0;
        height: 0;
        border-top: 58px solid transparent;
        border-right: 130px solid variables.$main-purple;
        border-bottom: 0 solid transparent;
        content: "";
        position: absolute;
        right: -121px;
        bottom: 0;
      }

      @media (min-width: variables.$lg-breakPt) {
        border-top: 65px solid transparent;
        border-right: 150px solid variables.$main-purple;
        right: -152px;
      }

      @media (min-width: variables.$xl-breakPt) {
        border-top: 62px solid transparent;
        border-right: 150px solid variables.$main-purple;
        right: -152px;
      }
    }
  }

  padding-bottom: 2rem;
  &__intro {
    position: relative;
  }

  &__headings-container {
    @media (min-width: variables.$xl-breakPt) {
      margin-top: 6rem;
    }
  }

  &__heading {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -1.55px;
    max-width: 250px;
    @media (min-width: variables.$sm-breakPt) {
      font-size: 2.5rem;
      max-width: 320px;
    }
    @media (min-width: variables.$md-breakPt) {
      font-size: 2.9rem;
      max-width: 380px;
    }
    @media (min-width: variables.$lg-breakPt) {
      font-size: 3.5rem;
      max-width: 450px;
    }
    @media (min-width: variables.$xl-breakPt) {
      font-size: 4.5rem;
      max-width: 500px;
    }
  }

  &__name {
    margin-top: 2rem;
  }

  &__img-container {
    position: relative;
  }

  &__img {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    display: block;

    @media (min-width: variables.$md-breakPt) {
      display: none;
    }
  }

  &__img--lg {
    display: none;
    @media (min-width: variables.$md-breakPt) {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -150px;
      right: -20px;
      z-index: -1;
      transform: translate(0, -18%);
    }
    @media (min-width: variables.$lg-breakPt) {
      bottom: -250px;
    }
    @media (min-width: variables.$xl-breakPt) {
      bottom: -480px;
    }
  }

  &__shapes {
    position: absolute;
    bottom: 0;
    width: 85%;
    @media (min-width: variables.$md-breakPt) {
      transform: translate(-10%, 30%);
      width: 50%;
      right: 17px;
      bottom: 220px;
      max-width: 500px;
    }

    @media (min-width: variables.$xl-breakPt) {
      width: 80%;
      max-width: 600px;
    }
  }

  &__bg-cube-sm {
    width: 100px;
    position: absolute;
    right: 50px;
    top: 80px;
    @media (min-width: variables.$md-breakPt) {
      right: 400px;
      top: 160px;
    }
    @media (min-width: variables.$lg-breakPt) {
      right: 500px;
      width: 130px;
    }
    @media (min-width: variables.$xl-breakPt) {
      right: 600px;
    }
  }

  &__bg-cube-lg {
    width: 130px;
    position: absolute;
    right: 20px;
    bottom: 20px;

    @media (min-width: variables.$md-breakPt) {
      left: 170px;
      bottom: -90px;
      transform: translate(-25%, 30%);
      width: 190px;
    }

    @media (min-width: variables.$lg-breakPt) {
      right: 500px;
      width: 200px;
    }

    @media (min-width: variables.$xl-breakPt) {
      right: 800px;
    }
  }
}

.scroll {
  display: inline-block;
  @media (min-width: variables.$md-breakPt) {
    display: flex;
    align-items: center;
    margin-top: 160px;
  }

  &__text {
    display: none;
    margin-left: 1rem;
    @media (min-width: variables.$md-breakPt) {
      display: inline;
    }
  }
}
