.hero {
  background: no-repeat;
  background-position: bottom right;
  &__bg {
    position: relative;
    &-img {
      position: absolute;
      right: 0;
    }
  }

  &__figure {
    max-width: 30%;
    position: relative;
    top: 10px;
  }

  &__figure-container {
    position: relative;
  }

  &__bg-cube-sm {
    max-width: 28%;
  }

  &__bg-cube-lg {
    max-width: 38%;
  }
}
