@use "../utils/variables";

.what-i-do {
  margin-top: 4rem;
  position: relative;

  &__intro-heading {
    @media (min-width: variables.$md-breakPt) {
      font-size: 2rem;
    }
  }

  &__pink-cube {
    width: 250px;
    position: absolute;
    right: 0;
    top: 120px;

    @media (min-width: variables.$md-breakPt) {
      width: 400px;
      right: -120px;
    }

    @media (min-width: variables.$lg-breakPt) {
      top: 30px;
      width: 700px;
      right: -180px;
    }
  }

  &__heading--lg {
    font-size: 4em;
    margin-top: 3rem;
    line-height: 1.3;
    margin-top: 6rem;

    @media (min-width: variables.$md-breakPt) {
      font-size: 5rem;
    }

    @media (min-width: variables.$lg-breakPt) {
      font-size: 6rem;
    }
  }

  &__white-cube--sm {
    display: none;
    @media (min-width: variables.$md-breakPt) {
      display: inline;
      width: 80px;
      position: absolute;
      top: 40px;
    }
  }

  &__white-cube {
    width: 120px;
    position: absolute;
    right: 5px;
    top: 70%;

    @media (min-width: variables.$lg-breakPt) {
      width: 220px;
      right: 200px;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    max-width: 405px;

    @media (min-width: variables.$md-breakPt) {
      max-width: 300px;
    }
  }
}
