.burger__menu-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  clip-path: circle(50px at 90% -10%);
  transition: all 0.7s ease-in-out;
  height: 100vh;
}

.burger__menu--open {
  clip-path: circle(4000px at 90% -10%);
}
