@use "../utils/variables";

@mixin blue-bg-styling {
  position: relative;
  background-color: variables.$main-blue;
  color: #fff;
  overflow: hidden;
}

@mixin bg-circles {
  content: "";
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba($color: #fff, $alpha: 0.1);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin purple-line{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 52px;
  height: 2px;
  background-color: variables.$main-purple;
}
