$main-font: "poppins";

// Colors
$main-purple: #4c40f7;
$main-blue: #1b1b87;
$lt-gray: rgba(244, 244, 244, 0.8);
$dark-blue: #111029;
$pink: #ffbcbc;
$dark-gray: #6b6b6b;

$xs-breakPt: 380px;
$sm-breakPt: 450px;
$md-breakPt: 768px;
$lg-breakPt: 990px;
$xl-breakPt: 1200px;
