@use "../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  background-color: #f9fafa;
}

// .main {
//   height: 100vh;
// }

body {
  font-family: variables.$main-font, sans-serif;
  height: 100vh;
}

// secondary headings
.secondary-heading {
  color: variables.$main-purple;
  position: relative;

  &:before {
    position: absolute;
    top: 15px;
    left: 0;
    content: "";
    height: 2px;
    width: 52px;
    background-color: variables.$main-purple;
  }
}

// Buttons
.btn {
  background: variables.$main-purple;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-size: 13px;
  border-radius: 12px;
}

// Input fields/textarea
input,
textarea {
  background-color: variables.$lt-gray;
  color: variables.$dark-blue;
}
