@use "../utils/variables";
@use "../utils/mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  background-color: #f9fafa;
}

body {
  font-family: variables.$main-font, sans-serif;
  height: 100vh;
  line-height: 1.75;
  @media (min-width: 780px) {
    position: relative;
  }
}

html,
body {
  overflow-x: hidden;
}

// centering container
.center {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// secondary headings
.secondary-heading {
  color: variables.$main-purple;
  position: relative;
  padding-left: 64px;
  font-size: 1rem;
  font-weight: 600;

  &:before {
    @include mixins.purple-line;
  }
}

// Buttons
.btn {
  background: variables.$main-purple;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-size: 13px;
  border-radius: 12px;
  width: 100%;
}

.btn-arrow {
  margin-left: 0.7rem;
  position: relative;
  top: 2px;
}

.btn--pink {
  background: variables.$pink;
}

// Input fields/textarea
input,
textarea {
  background-color: variables.$lt-gray;
  color: variables.$dark-blue;
}
