@use "../utils/variables";
@use "../utils/mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  background-color: #f9fafa;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: variables.$main-font, sans-serif;
  height: 100%;
  line-height: 1.75;
  overflow-x: hidden;
  @media (min-width: 780px) {
    position: relative;
  }
}

// hide scrolling
.no-scroll {
  overflow: hidden;
  position: fixed;
}

// hide menu
.hidden {
  visibility: hidden;
  opacity: 0;
}

// centering container
.center {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (min-width: variables.$md-breakPt) {
    padding: 0 3rem;
  }

  @media (min-width: variables.$lg-breakPt) {
    padding: 0 3.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// burger menu styling
.burger-menu {
  margin-top: 5px;
  cursor: pointer;
}

.burger__line {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: variables.$dark-blue;
}

// secondary headings
.secondary-heading {
  color: variables.$main-purple;
  position: relative;
  padding-left: 64px;
  font-size: 1rem;
  font-weight: 600;

  &:before {
    @include mixins.purple-line;
  }
}

// Buttons
.btn {
  background: variables.$main-purple;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-size: 13px;
  border-radius: 12px;
  width: 100%;
}

.btn-arrow {
  margin-left: 0.7rem;
  position: relative;
  top: 2px;
}

.btn--pink {
  background: variables.$pink;
}

// Input fields/textarea
input,
textarea {
  background-color: variables.$lt-gray;
  color: variables.$dark-blue;
}

// Unordered lists
ul {
  list-style: none;
  padding-left: 0;
}
